#header-Component{
    display: flex;
    width: 100%;
    height: 85px;
    background-color: #4a4e69;
    justify-content: space-between;
}
@keyframes gradientMagic {
    0%{
        border-right: 6px solid #0f037caf;
        border-bottom: 6px solid #0f037caf;
        border-top: 6px solid #0f037caf;
    }
    10%{
        border-right: 6px solid #033f15d2;
        border-bottom: 6px solid #033f15d2;
        border-top: 6px solid #033f15d2;
    }
    20%{
        border-right: 6px solid #03383fd2;
        border-bottom: 6px solid #03383fd2;
        border-top: 6px solid #03383fd2;
    }
    30%{
        border-right: 6px solid #3f3103d2;
        border-bottom: 6px solid #3f3103d2;
        border-top: 6px solid #3f3103d2;
    }
    100%{
        border-right: 6px solid #6d0505d2;
        border-bottom: 6px solid #6d0505d2;
        border-top: 6px solid #6d0505d2;  
    }
}

#group-Row-One{
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    gap: 10px;
}
#group-Row-One img{
   border-radius: 0 175px 175px 0;
   border-right: 6px solid #0f037caf;
   border-bottom: 6px solid #0f037caf;
   border-top: 6px solid #0f037caf;
   
}
#group-Row-One label{
    animation: gradientMagic 10s ease-in-out  infinite;
    border-radius: 5px;
    border-right: 6px solid #10033fd2;
    border-bottom: 6px solid #10033fd2;
    border-top: 6px solid #10033fd2;
   
   background: linear-gradient(to top right,#1d3557,#023e8a);
   background-position: center;
    color: #fff;
    padding-left: 5px;
 }

#select-Body-Style{
    border: none;
    width: fit-content;
    outline: none;

    
}

#group-Column-One{
    display: flex;
    flex-direction: column;

}
#group-Row-Two{
    display: flex;
    
    align-items: center;
    padding-right: 7px;
}
    

.justify-Quality-Image{
    width: 85px;
    height: 85px;
}
.justify-Quality-Image > img{
    background-size: cover;
    width: 85px;
    height: 85px;
 
    
}
#resize-Image-Two{
    display: flex;
    align-items: center;
}

#resize-Image-Two > img{
    width: 45px;
    height: 45px;
}